@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>


<p>This website was built to allow photographers of all skill levels to be able to share and sell their photos online. </p>
 <p>   It was create for my final Computer Science course at College of the Ozarks and I based it off of my love of/for photography.
    </p>
<img src="~/Photos/8.jpg" />