@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Nikki-ography</h3>

<address>
    P.O.Box 125<br />
    Point Lookout, MO 65726<br />
    <abbr title="Phone">P:</abbr>
    816.518.0516
</address>

<address>
    <strong>Email:</strong>   <a href="nkremer2012@yahoo.com">nkremer2012@yahoo.com</a><br />
   
</address>