@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nikki-ography</h1>
    <p class="lead">Looking for something to put in that empty spot on the wall? How about something to soothe you after a long day at work? 
    Nikki-ography can help! Choose from our wide selections of photography to hang up in your home.</p>
    <div class="image">
        <asp:image runat=”server”>
            <img src="~/Images/11012354_880746331968709_2696517271650809668_o.jpg" />
        </asp:image>
    </div>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
